<div class="form-group row">
  <div class="col-md-3">
    <%= form.label :diet, 'Allergien und Ernährungsvorlieben', class: 'col-form-label' %>
  </div>
  <div class="col-md-9">
    <%= form.text_area :diet, id: "#{id_stem}_diet", class: 'form-control' %>
    <small class="form-text text-muted">Zum Beispiel: vegetarisch, vegan, glutenfrei oder etwaige Allergien oder Unverträglichkeiten.</small>
  </div>
</div>
