<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Danke!</h2>
      <p>Wir haben dir eine Best채tigung per E-Mail an <tt><%= @guest.email %></tt> geschickt.</p>
      <p>Falls du diese nicht innerhalb von ein paar Minuten erh채ltst, schau in deinem Spamordner nach. Falls sie auch dort nicht zu finden ist, kannst du uns auch <%= mail_to ENV['CONTACT_EMAIL'], 'hier kontaktieren' %>.</p>
      <p>Die E-Mail hat einen Link, mit dem du auch sp채ter noch deine Anmeldung bearbeiten kannst.</p>
      <p><%= link_to 'Zur체ck zur Homepage', root_path %></p>
    </div>
  </div>
</div>
