<p><%= @guest.email_safe_salutation %></p>

<p>Du hast vor Kurzem schon deine E-Mailadresse verwendet, um dich auf <%= ENV['CANONICAL_HOST'] %> anzumelden.</p>

<p>Wenn du deine Informationen nochmals abrufen oder etwas verändern möchtest, kannst du den folgenden Link verwenden:</p>
<p><%= link_to guest_url(@guest, locale: I18n.locale), guest_url(@guest, locale: I18n.locale) %></p>

<p>Falls du noch weitere Fragen hast, kannst du einfach auf diese E-Mail antworten.</p>

<p>&nbsp;</p>
<p><%= t :wedding_couple_names %></p>
