<nav>
    <div class="container_nav">
       <%
=begin%>
 <p>Scroll down please</p> 
<%
=end%>
          <ul>
            <li><a id="sec-1" href="#one">Top</a></li>
            <%
=begin%>
 <li><a id="sec-2" href="#two">When and Where</a></li> 
<%
=end%>
            <li><a id="sec-2" href="#three">Venue</a></li>
            <li><a id="sec-3" href="#four">Plan</a></li>
            <li><a id="sec-4" href="#four">In the Region</a></li>

          </ul>
    </div>
 </nav>