<nav>
    <div class="container_nav">
       <%
=begin%>
 <p>Scroll down please</p> 
<%
=end%>
          <ul>
            <li><a id="sec-1" href="#one">Oben</a></li>
            <%
=begin%>
 <li><a id="sec-2" href="#two">Wann & Wo</a></li> 
<%
=end%>
            <li><a id="sec-2" href="#twoo">Der Ort</a></li>
            <li><a id="sec-3" href="#three">Der Plan</a></li>
            <li><a id="sec-4" href="#four">In der Region</a></li>
          </ul>
    </div>
 </nav>