<section id="welcome-index-nearby-leader" class="jumbotron text-center">
  <div class="container">
    <h1>In der Region</h1>
  </div>
</section>
<section id="welcome-index-nearby">
<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
      <h2> Tagesausflüge von Forchheim aus </h2>
        <p> Forchheim ist ein guter Ausgangspunkt, um die Region kennen zu lernen. Für alle, die gerne Städtetrips unternehmen, 
        empfehlen wir Bamberg und Nürnberg aus Ausflugsziele (~30 Minuten mit dem Zug).
        Nürnberg ist für seine Burg und Stadtmauern bekannt; Bamberg ist Teil des UNESCO Weltkulturerbes. </p>
        <p> Wenn ihr lieber draußen unterwegs seid, könnt ihr euch gern die schöne Fränkische Schweiz anschauen. Hier findet ihr schöne <a href=https://www.fraenkische-schweiz.com/erleben/aktiv/wandern/die-schoensten-wanderwege><nobr>(Bier-)Wanderwege.</nobr></a></p>
    <h2> Events in der Umgebung </h2>
        <p> 
        Während unserer Hochzeit findet in Erlagen eines der größten Volksfeste in der Region statt, die Bergkirchweih. Erlangen befindet sich zwischen Forchheim und Nürnberg und ist auch mit dem Zug einfach erreichbar.
        Die Bergkirchweih bietet vom 16. bis 27. Mai Festbier auf 13 verschiedenen Kellern, die in den Berg eingelassen sind, sowie Fahrgeschäfte und Musik. </p>
        </div>
    </div>
  </div>
</section>