<section id="welcome-index-nearby-leader" class="jumbotron text-center">
  <div class="container">
    <h1>In the Region</h1>
  </div>
</section>
<section id="welcome-index-nearby">
<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
      <h2> Day Trips from Forchheim </h2>
        <p> Forchheim is a great base for exploring the region. For those who like urban exploration and history, 
        the cities of Bamberg and Nuremberg are both within easy reach (~30 minute train ride). </p>
        <p> While Nuremberg is well known for its recent historical significance, the Nuremberg castle, ancient city walls and 
        historical town center provide an atmosphere shaped by the city's history stretching back to the Holy Roman Empire. </p>
        <p> Bamberg, while smaller and less well known than Nuremberg, is a rarely preserved gem of German history. The town 
        center is designated a UNESCO heritage site, preserving the historical layout of an early medieval town. If you visit, make sure to 
        try the (in)famous Rauchbier Schlenkerla!  </p>
        <p> If you prefer the great outdoors, the wedding takes place in Franconian Switzerland; a region known for its hills and cliffs, 
        hikes featuring caves and castle ruins, and world famous rock climbing. A activity particularly popular in the region is beer-hikes, 
        with some suggested routes <a href=https://www.fraenkische-schweiz.com/erleben/aktiv/wandern/die-schoensten-wanderwege><nobr>here</nobr></a></p>
    <h2> Events of Interest </h2>
        <p> 
        Our wedding takes place during one of the largest festivals in the region, Bergkirchweih. Bergkirchweih is a traditional beer festival
        (like Oktoberfest), which takes places in the town of Erlangen, located between Forchheim and Nuremberg. The festival is held on a hill,
        with beer being served from the 13 brewery cellars below. The festival is a great place to try local Franconian beers, and to experience 
        the local culture. 
        </p>
        <p>
        Bergkirchweih starts on May 16th and lasts for 12 days, so if you're interested, you can visit before or after the wedding. 
        </p>
      </div>
    </div>
  </div>
</section>