<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Order of the Day</h2>
        <p><strong>2pm</strong> &mdash; Guests arrive</p>
        <p><strong>2:30pm</strong> &mdash; Civil wedding ceremony</p>
        <p><strong>3pm</strong> &mdash; Reception with sparkling wine and photos!</p>
        <p><strong>4pm</strong> &mdash; Coffee and cake</p>
        <p><strong>7pm</strong> &mdash; Dinner! Buffet style.</p>
        <p><strong>8pm</strong> onward &mdash; Drinking, dancing and being merry!</p>
        <p><strong>??am</strong> &mdash; Bed time</p>
        <p>There will be an open bar for the evening.</p>
        <p><strong>Dress code:</strong> semi-formal.</p>
        
        <h2>Gifts &amp; Cards</h2>
        <p> To help you travel lightly, please refrain from bringing presents. Having you with us is a gift in itself!</p>
        
        <%
=begin%>
 <h2>Menu</h2>
        <p><strong>To be announced</strong> </p> 
<%
=end%>
       
        <h2>Reservation</h2>
        <p>Please RSVP by February 1st, 2024, so we know who is coming and can make sure we keep a seat and a piece of cake for you! </p>
       <p> If it turns out you can’t make it, please let us know as soon as you can.</p>
        </div>
    </div>
  </div>
</section>
