<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>DER Plan</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Ablauf des Tages</h2>
        <p><strong>14 Uhr</strong> &mdash; Ankuft der Gäste</p>
        <p><strong>14.30 Uhr</strong> &mdash; Freie Trauung</p>
        <p><strong>15 Uhr</strong> &mdash; Sektempfang und Fotos!</p>
        <p><strong>16 Uhr</strong> &mdash; Kaffee und Kuchen</p>
        <p><strong>19 Uhr</strong> &mdash; Abendessen vom Buffet</p>
        <p><strong>20 Uhr</strong> &mdash; Es wird getrunken, getanzt und gelacht!</p>
        <p><strong>?? Uhr</strong> &mdash; Gute Nacht!</p>
        <p>Wir haben eine Bar für uns alleine an der ihr euch gern den ganzen Abend bedienen dürft.</p>
        
        <h2>Geschenke</h2>
        <p> Um euch die Anreise zu erleichtern, bitten wir euch, keine Geschenke mitzubringen. Eure Anwesenheit ist Geschenk genug!</p> 

        
        <h2>Menü</h2>
        <p><strong>Wird noch zubereitet.</strong> </p>
        <h2>Anmeldung</h2>
        <p> Bitte gebt uns bis 1. Februar 2024 Bescheid, ob ihr kommen könnt, damit wir euch einen Platz freihalten und ein Stück Kuchen beiseite stellen können!</p>
        <p> Falls euch doch etwas dazwischen kommt, gebt uns bitte rechtzeitig Bescheid.</p> 
      </div>
    </div>
  </div>
</section>
