<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
      <h2>How do I get there?</h2>
        <p>The nearest airports are Frankfurt and Munich. From both airports you can either decide to rent a car or take the train. 
         <h3>By train</h3>
         <p>From either airport you can take an ICE to Nürnberg HBF. There is an hourly connection from Nürnberg to Forchheim, where you can easily rent a hotel (details on hotels TBA). </p>
         <p>To get to the Schloss, you will have to take a local train in the direction of Ebermannstadt. The stop is called Wiesenthau. For everyone staying in Forchheim, we have organised a shuttle that will take you to your hotel safely at night.</p>
         <h3>By car</h3>
         <p>Should you decide to rent a car, you can get to Forchheim via Autobahn A3 from Frankfurt and Autobahn A9 and A73 from Munich. From there, you will follow signage towards Kirchehrenbach. Shortly before the village, turn right and follow signage towards Wiesenthau. Or simply add the address to your navigation system :D There is plenty of parking available at the venue.</p>
        
        
        <h2>Accomodation</h2>
        <p>
          To make your choice of accommodation flexible, we are arranging a shuttle service after the party to you to your hotel. 
        </p>
        <p>
        We recommend either staying overnight at the Schloss (limited space available), or nearby in the town of Forchheim. 
        </p>
        <br>
        <h3> Schloss Wiesenthau </h3>
        <p> We have 9 rooms reserved from May 23 - May 25. Staying both nights would be required. Unfortunately, due to other events at the Schloss, extending the stay is not possible. </p>
        <p> The rates at the castle are the the following: </p>
        <ul>
          <li>Single room: 99€/night</li>
          <li>Double room: 120€/night</li>
        </ul>

        <p>The prices include breakfast at the Schloss.</p>

        <p> <small> Note: the castle is centuries old. While the rooms are fully modernized, expect a rustic/country feel. </small> </p>
        
        <br>
       
        <h3> Hotels in Forchheim </h3>
        <p> Forchheim is a 10 minute drive from the Schloss. Below are a couple of options we found for staying overnight. </p>
        <p> <small> Note: Prices as of December 2023. </small> </p>
        <br>

        <h5> <b> Arivo Aparthotels Forchheim </b> </h5>
        <ul>
          <li> Address: Bayreuther Straße 1, 91301 Forchheim </li>
          <li> Website: <a href=https://www.arivo.de/ > https://www.arivo.de/ </a> </li>
          <li> Single/Double Room: Starting at 99 €/night (larger rooms available) </li>
          <li> The hotel offers a flexible cancelation policy if booked ahead of time. </li>
        </ul>
        <p> <small> This hotel is very close to the train station in Forchheim, making it great for those arriving by train. </small> </p>
        <br>

        <h5> <b> The Niu Hop Hotel </b> </h5>
        <ul>
          <li> Address: Bahnhofsplatz 8 91301 Forchheim </li>
          <li> Website: <a href=https://the.niu.de/en > https://the.niu.de/en </a> </li>
          <li> Single/Double Room: Starting at 90 €/night </li>
          <li> Flexible cancelation, breakfast, early check-in, parking, etc. all unfortunately at extra charge </li>
        </ul>
        <p> <small> This hotel is very close to the train station in Forchheim, making it great for those arriving by train. </small> </p>
        <br>

        <h5> <b> The Hotel Franken </b> </h5>
        <ul>
          <li> Address: Ziegeleistraße 17, 91301 Forchheim </li>
          <li> Website: <a href=https://hotelfranken.de > https://hotelfranken.de </a> </li>
          <li> Single/Double Room: Starting at 92 €/night </li>
          <li> Extra charges for flexible cancelation and breakfast </li>
        </ul>
        <p> <small> This hotel is about 15 minutes walking from the train station, but offers free parking. </small> </p>
        <br>

        <h3> Staying Elsewhere </h3>
        <p> There is no reason to limit yourself to the suggestions above! However, if you wish to use the shuttle service, we ask to limit the trip to 20-30 minutes of driving from the Schloss. </p>


        <%
=begin%>
 <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p> 
<%
=end%>
      </div>
    </div>
  </div>
</section>
