<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Der Ort</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Wie komme ich dort hin?</h2>
        <p>Die Anreise ist entweder per Auto oder Zug möglich. 
          <h3>Mit dem Zug</h3>
          <p>Von Nürnberg aus fährt stündlich (?) ein RE nach Forchheim. Von dort geht ein RB nach Wiesenthau. Falls ihr in Forchheim übernachten möchtet, haben wir einen Shuttleservice für euch eingerichtet.</p>
          <h3>Mit dem Auto</h3>
         <p>Über die Autobahn A73 kommt ihr nach Forchheim. Von dort einfach der Beschilderung nach Kirchehrenbach folgen und kurz vor dem Ortseingang in Richtung Wiesenthau abbiegen. Oder natürlich einfach die Adresse ins Navi eingeben :D Es sind reichlich Parkplätze vorhanden.</p>
        <h2>Ist eure Anreise etwas weiter?</h2>
        <p>Wir haben im Schloss Wiesenthau eine begrenzte Anzahl an Zimmern angemietet. Wer gerne in einem echten Schloss übernachten möchte, muss also schnell sein. </p>
        <p>Weitere Zimmer findet ihr im Hotel Franken in der Ziegeleistraße 17 in Forchheim.</p>
        <%
=begin%>
 <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p>  
<%
=end%>
      </div>
    </div>
  </div>
</section>
