<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>The Venue</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
      <% 
      <h2>How do I get there?</h2>
        <p>The nearest airports are Frankfurt and Munich. From both airports you can either decide to rent a car or take the train. 
         <h3>By train</h3>
         <p>From either airport you can take an ICE to Nürnberg HBF. There is an hourly connection from Nürnberg to Forchheim, where you can easily rent a hotel (details on hotels TBA). </p>
         <p>To get to the Schloss, you will have to take a local train in the direction of Ebermannstadt. The stop is called Wiesenthau. For everyone staying in Forchheim, we have organised a shuttle that will take you to your hotel safely at night.</p>
         <h3>By car</h3>
         <p>Should you decide to rent a car, you can get to Forchheim via Autobahn A3 from Frankfurt and Autobahn A9 and A73 from Munich. From there, you will follow signage towards Kirchehrenbach. Shortly before the village, turn right and follow signage towards Wiesenthau. Or simply add the address to your navigation system :D There is plenty of parking available at the venue.</p>
        <h2>Accomodation</h2>
        <p>We have reserved a limited number of rooms in the Schloss Wiesenthau. If you would like to stay in a real castle, you will have to be quick! </p>
        <p>We are also negotiating with the Hotel Franken (Ziegeleistraße 17, Forchheim) for a cheaper rate and will get back to you with more details as soon as we have them.</p>
        <%
=begin%>
 <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p> 
<%
=end%>
      </div>
    </div>
  </div>
</section>
