<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Der Ort</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Wie komme ich dort hin?</h2>
        <p>Die Anreise ist entweder per Auto oder Zug möglich. </p>
        <h3>Mit dem Zug</h3>
        <p>Von Nürnberg aus fährt stündlich ein RE nach Forchheim. Von dort geht ein RB nach Wiesenthau. Falls ihr in Forchheim übernachtet, haben wir einen Shuttleservice für euch eingerichtet.</p>
        <h3>Mit dem Auto</h3>
       <p>Über die Autobahn A73 kommt ihr nach Forchheim. Von dort einfach der Beschilderung nach Kirchehrenbach folgen und kurz vor dem Ortseingang in Richtung Wiesenthau abbiegen. Oder natürlich einfach die Adresse ins Navi eingeben :D Es sind reichlich Parkplätze vorhanden.</p>
      
      
      
        <h2>Ist eure Anreise etwas weiter?</h2>
        <p>
          Um euch die Wahl der Unterkunft flexibel zu gestalten, organisieren wir nach der Feier einen Shuttleservice zu eurem Hotel.
        </p>
        <p>
        Ihr könnt entweder auf Schloss Wiesenthau (begrenzte Verfügbarkeit), oder in Fochheim übernachten. </p>
        <br>
        <h3> Schloss Wiesenthau </h3>
        <p> Wir haben 9 Zimmer vom 23. - 25. Mai reserviert. Wir bitten euch, beide Tage zu übernachten. Bitte schreibt uns, wenn ihr hier übernachten möchtet! </p>
        <p> Kosten incl. Frühstück: </p>
        <ul>
          <li>Einzelzimmer: 99€/Nacht</li>
          <li>Doppelzimmer: 120€/Nacht</li>
        </ul>

        <p> <small> Das Schloss ist etwas älter. Die Räume sind zwar modernisiert, aber immer noch etwas rustikaler. </small> </p>
        <br>
        
        <h3> Hotels in Forchheim </h3>
        <p> Forchheim ist ca. 10 Minuten Fahrtzeit vom Schloss entfernt. Dort gibt es die folgenden Optionen: </p>
        <p> <small> Preise sind vom Dezember 2023. </small> </p>
        <br>

        <h5> <b> Arivo Aparthotels Forchheim </b> </h5>
        <ul>
          <li> Addresse: Bayreuther Straße 1, 91301 Forchheim </li>
          <li> Website: <a href=https://www.arivo.de/ > https://www.arivo.de/ </a> </li>
          <li> Einzel-/Doppelzimmer: ab 99 €/Nacht (größere Zimmer verfügbar) </li>
        </ul>
        <p> <small> Dieses Hotel ist nur einen kurzen Fußweg vom Bahnhof entfernt und hat eine flexible Stornierungsoption, wenn es rechtzeitig gebucht wird.</small> </p>
<br>
        <h5> <b> The Niu Hop Hotel </b> </h5>
        <ul>
          <li> Addresse: Bahnhofsplatz 8 91301 Forchheim </li>
          <li> Website: <a href=https://the.niu.de/ > https://the.niu.de/ </a> </li>
          <li> Einzel-/Doppelzimmer: ab 90 €/Nacht </li>
        </ul>
        <p> <small> Für ein bisschen extra gibt es hier flexible Stornierung, Frühstück, Early check-in, Parkplätze usw. </small> </p>
<br>
        <h5> <b> The Hotel Franken </b> </h5>
        <ul>
          <li> Addresse: Ziegeleistraße 17, 91301 Forchheim </li>
          <li> Website: <a href=https://hotelfranken.de > https://hotelfranken.de </a> </li>
          <li> Einzel-/Doppelzimmer: Starting at 92 €/Nacht </li>
        </ul>
        <p> <small> Das Hotel ist etwas weiter vom Bahnhof (~15 min zu Fuß), aber hat kostenfreie Parkplätze. </small> </p>
<br>
        <h3> Weiter Optionen </h3>
        <p> Ihr seid nicht auf diese Optionen beschränkt. Schaut euch gern nach anderen Optionen in der Nähe um! ABER, wenn ihr gerne den Shuttle nutzen möchtet, würden wir euch bitten, innerhalb von einem 20-30 Minuten Radius um das Schloss zu bleiben, damit die anderen Gäste ihn auch genießen können. </p>

      
      
      <%
=begin%>
 <h2>Ist eure Anreise etwas weiter?</h2>
      <p>Wir haben im Schloss Wiesenthau eine begrenzte Anzahl an Zimmern angemietet. Wer gerne in einem echten Schloss übernachten möchte, muss also schnell sein. </p>
      <p>Weitere Zimmer findet ihr im Hotel Franken in der Ziegeleistraße 17 in Forchheim.</p> 
<%
=end%>
        <%
=begin%>
 <p>Check in is from 3pm, so you may not be able to get ready in your room if you book it just for the night of the wedding.</p>  
<%
=end%>
      </div>
    </div>
  </div>
</section>
